/* .home{
    display: flex;
} */

.category{
    display: flex;
    justify-content: space-around;
   padding: 15px;
   border-bottom: 1px solid black;
   flex-wrap: wrap;
   background-color: rgb(251, 245, 238);
}
.dabba{
  
   margin: 5px;
}
.photo{
    height: 150px;
    width: 150px;
    /* border: 1px solid black; */
    border-radius: 50%;
    margin: 20px;
    cursor: pointer;
}
.photo img{
    transition: 1s ease;
    height: 100%;
    width:100% ;
    object-fit: cover;
    border-radius: 50%;
}
.photo :hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
}


.productName{
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;

}
.middle{
    border-bottom: 1px solid black;
}